<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a product person who loves learning about what makes people (us) tick.</p>
    <p>I believe that the collaborative integrity of the team and understanding your customers comes first in building awesome products.</p>
    <p>Software Skills: Ruby on Rails, Javascript, Test Driven Development, Pair Programming</p>
    <p>Product Skills: Agile Development, Scrum Master, User Research, Prototyping, Product Road Map</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Blogs I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.date %></p>
      
    <% end %>

  </div>
  <div class="col-3 homepage_content">
    <h2>Projects I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      
    <% end %>
  </div>
</div>