.blog-content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.blog-content ul {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
	padding-right: 40px;
}