.blog-content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
    
}

.blog-content ul {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 20px;
}

.rubyhtml {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 220px;
	margin-right: 220px;
	padding-left: 10px;
}

.p1 {
	margin-top: 5px;
}

.p-title {
	margin-top: 10px;
}

.ruby-hash {
	width: 400px;
	float: left;
	margin-left: 100px;
	padding-left: 10px;

}

.js-object {
	width: 400px;
	float: right;
	margin-right: 100px;
	padding-left: 10px;
}

.source-link {
	color: #4d94ff;
}

.static-bottom {
	position: fixed;
	bottom: 0;
}