/*
    - fonts
    - General CSS
    - headers
    - billboard
    - about
    - portfolio
    - contact
    - footer
*/
html {
	background-color: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "opensans-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}










/*  header  */
header {
	width: 100%;
  	padding: 20px 0;
  	background-color: rgba(255,255,255,0.5);
}

header.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3e3d3d;
}

header .clearfix a{
    color: #797979;
    font-family: "opensans-regular", arial;
    font-size: 14px;
    text-decoration: none;
    float: right;
    width: 100px;
}

/*  billboard  */
.billboard{
    width: 100%;
    height: 620px;
    background: url('../imgs/hero.jpg') no-repeat;
    background-position: cover;
    -webkit-background-position: cover;
    -moz-background-position: cover;
    -o-background-position: cover;
    overflow: hidden;
    position: relative;
    z-index: 5555;
}

.billboard .caption h2{
    color: #27bdda;
    font-family: "Brush Script MT", cursive;
    font-size: 80px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    margin-top: 200px;
    text-shadow: 1px 1px #fffff0;
}

.billboard .scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
}









/*  about  */
.logo {
	height: auto;
	max-width: 100%;
	display: block;
    margin: 0 auto;
}

.header-a {
	text-align: center;
	width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
	font-family: helvetica;
}

#short-link {
	text-align: center;
}

#short-link div{
	display: inline-block;
	text-align: center;
}

#box1 {
	width: 180px;
}

#box2 {
	width: 180px;
}

#box3 {
	width: 180px;
}

#box4 {
	width: 180px;
}

nav {
	background-color: gray;
	height: auto;
	width: 100%;
	display: inline-block;
	border-bottom: black;
	font-size: 16px;
	font-family: helvetica;
}

#location {
	float: left;
}

#social {
	display: inline-block;
	text-align: center;
	width: 60%;
}

form {
	display: inline-block;
	float: right;
}

aside {
	background-color: green;
	display: inline-block;
	float: right;
	width: 80%;
	margin-top: 20px;
}
article {
	margin-top: 20px;
	display: inline-block;
	float: left;
	width: 20%;
}

article section{
	margin-left: 20px;
}
article div{
	margin-left: 20px;
}










/**  footer  **/
footer{
    width: 100%;
    padding: 60px 0;
    background: #3e3d3d;
}

footer .social{
    float: right;
    padding-right: 20px;
}

footer .social ul{
    list-style: none;
    overflow: hidden;
}


footer .social ul li{
    display: inline-block;
    margin-right: 26px;
    letter-spacing: .5px;
}

footer .social ul li:last-child{
    margin-right: 0;
}

footer .social ul li a{
    color: #b5b5b5;
    font-family: "opensans-regular", arial;
    font-size: 14px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer .social ul li a:hover{
    color: #fff;
}