/*

    - fonts
    - General CSS
    - headers
    - billboard
    - about
    - portfolio
    - contact
    - footer

*/

/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "opensans-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}









/*  header  */
header{
  width: 100%;
  padding: 20px 0;
  background-color: rgba(255,255,255,0.25);
  z-index: 3333;

}

header.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3e3d3d;

}

header .clearfix a{
    color: #b5b5b5;
    font-family: "opensans-regular", arial;
    font-size: 18px;
    text-decoration: none;
    float: right;
    width: 80px;
    text-shadow: 0.5px 0.5px #003300;
}









/*  billboard  */
.billboard{
    width: 100%;
    max-width: 1920px;
    height: 650px;
    background: url('../imgs/hero3.jpg') no-repeat;
    background-position: cover;
    -webkit-background-position: cover;
    -moz-background-position: cover;
    -o-background-position: cover;
    overflow: hidden;
    position: relative;
    z-index: 5555;
}

.billboard .caption h2{
    color: #27bdda;
    font-family: "Brush Script MT", cursive;
    font-size: 80px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
    margin-top: 250px;
    text-shadow: 1px 1px #fffff0;
}

.billboard .scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
}









/*  about  */
.about{
    width: 100%;
    padding: 100px 0;
}

.about_icon{
  margin-left: 40%;
  display: inline;
}

.about_info{
  display: inline-block;
  margin-top: 0;
  padding-left: 30px;
  width: 500px;
}

.about_title{
    margin-bottom: 40px;
    color: #535353;
    font-family: "opensans-bold", arial;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
}

.about article{
  display: inline-block;

}

.about article p.about_desc{
    color: #797878;
    font-family: "opensans-regular", arial;
    font-size: 14px;
    line-height: 28px;
}









/*  portfolio  */
.portfolio{
    width: 100%;
    padding: 140px 0;
    overflow: hidden;
}

.title{
    margin: 0;
    text-align: center;
    color: #535353;
    font-family: "opensans-bold", arial;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.title span{
    color: #797979;
    font-size: 14px;
    font-family: "opensans-regular", arial;
    font-weight: normal;
    margin-left: 5px;
    text-transform: lowercase;
}

.portfolio .folio_wrapper ul li .shadow{
    width: 100%;
    height: 155px;
    list-style: none;
    background-repeat: repeat-x;
    background-position: 0 0;
    position: absolute;
    z-index: 2222;
    bottom: 0;
    left: 0;
    opacity: 0;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

.portfolio .folio_wrapper ul li article:hover .shadow{
    opacity: 1;
}

.portfolio .folio_wrapper ul li .folio_info{
    position: absolute;
    bottom: 30px;
    left: 20px;
    opacity: 0;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

.portfolio .folio_wrapper ul li article:hover .folio_info{
    bottom: 20px;
    opacity: 1;
}

.portfolio .folio_wrapper ul li .folio_info a{
    text-decoration: none;
}

.portfolio .folio_wrapper ul li .folio_info a h2{
    color: #fff;
    font-family: "opensans-semibold", arial;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px #000000;
}

.portfolio .folio_wrapper ul li .folio_info a h3{
    color: #fff;
    font-family: "opensans-regular", arial;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 10px 0 0 0;
    text-shadow: 0.5px 0.5px #000000;
}

.portfolio .folio_wrapper ul li .folio_img img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1111;
}









/*----    portfolio slider  ----*/
.portfolio .folio_wrapper{
    margin-top: 100px;
    overflow-x: visible!important;
}

.portfolio .folio_wrapper ul li{
    display: block;
    width: 313px;
    height: 310px;
    list-style: none;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 50px;
    margin-top: 50px;
}

.portfolio .folio_wrapper ul li:last-child{
    margin-right: 0;
}









/*  contact  */
.contact{
    padding: 140px 0;
    overflow: hidden;
    text-align: center;
}

.contact .title{
    font-style: 26px;
    margin-top: 40px;
}

.contact hr{
    display: block;
    border: 0;
    width: 100px;
    height: 1px;
    background: #797979;
    margin: 60px auto;
}

.contact .email,
.contact .phone{
    color: #4badcf;
    font-family: "opensans-semibold", arial;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

.contact .email{
    margin-bottom: 40px;
}









/**  footer  **/
footer{
    width: 100%;
    padding: 60px 0;
    position: relative;
    background: #3e3d3d;
}

footer .social{
    float: right;
    padding-right: 20px;
}

footer .social ul{
    list-style: none;
    overflow: hidden;
}


footer .social ul li{
    display: inline-block;
    margin-right: 26px;
    letter-spacing: .5px;
}

footer .social ul li:last-child{
    margin-right: 0;
}

footer .social ul li a{
    color: #b5b5b5;
    font-family: "opensans-regular", arial;
    font-size: 18px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer .social ul li a:hover{
    color: #fff;
}